body {
    background-color: #DDDEE6;
}


.cdk-drag-preview {
    box-sizing: border-box;
    
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 450ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 450ms cubic-bezier(0, 0, 0.2, 1);
}


/* ========= Font Faces ========= */
@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: local('Montserrat-ExtraLight'), url("./assets/fonts/Montserrat-ExtraLight.ttf");
  }
  
  @font-face {
    font-family: 'Montserrat-Light';
    src: local('Montserrat-Light'), url("./assets/fonts/Montserrat-Light.ttf");
  }
  
  @font-face {
    font-family: 'Montserrat-Regular';
    src: local('Montserrat-Regular'), url("./assets/fonts/Montserrat-Regular.ttf");
  }
  
  @font-face {
    font-family: 'Montserrat-Bold';
    src: local('Montserrat-Bold'), url("./assets/fonts/Montserrat-Bold.ttf");
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
