<div class="board-container">
    <div class="board-heading">
        <h2 class="board-title">Backlog</h2>
        <div class="columns-and-task-controls">
            <div class="new-task-container">
                <button class="new-task" (click)="createTask()">+ New task</button>
            </div>
            <div class="new-column-container">
                <button class="new-column" (click)="createColumn()">+ New column</button>
            </div>
        </div>
    </div>

    <div class="horizontal-line">
        <hr id="heading-separator">
    </div>

    <div class="board" cdkDropListGroup>
        <app-column [column]="column" *ngFor="let column of columns"></app-column>
    </div>

</div>