<div class="column-container" cdkDropList [cdkDropListData]="column?.tasks" (cdkDropListDropped)="drop($event)"> 
    <div class="title-area">
        <h5 class="title">{{ column?.column_title }}</h5>
    </div>
    <div [ngClass]="column !== undefined && column.tasks.length > 0 ? 'column' : 'column-no-tasks'">
    <!-- <div class="column"> -->
        <div class="task-container" cdkDrag *ngFor="let task of column?.tasks">
            <app-task [task]="task"></app-task>
        </div>
    </div>
</div>

