<div class="task">
    <div class="priority">
      <span class="color-code low"></span>
    </div>
  
    <div class="title">
        <p class="task-number">{{ task.title }}</p>
        <p class="title-text">Some paragraph in here and some other text in here also.
            Some paragraph in here and some other text in here also.
            Some paragraph in here and some other text in here also.
        </p>
    </div>

  
    <div class="comments">
      
    </div>
  
    <div class="user-wrapper">
      
    </div>
  
  
  </div>
  