.sidebar-container {
    margin-top: 18px;
    width: 200px;
}

.menu-item-container {
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-item-container:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.menu-item-title {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 18px;
    color: #5c5f64;
    margin-left: 10px;
}

.new-board {
    margin-top: 20px;
    line-height: 40px;
}

.new-board:hover {
    background-color: aquamarine;
    cursor: pointer;
}