<div class="top-bar">
    <div class="search-box">
      <input type="text" placeholder="Search" class="search-user">
    </div>
  
    <div class="user-pills-container">
      <p class="team-members">Team Members</p>
  
      <div class="user-pills">
        <div class="user-pill-container">
          <div class="user_pill">
          </div>
        </div>
      </div>
    </div>
  
    <div class="logged-in-user">
  
      <div class="user-icon">
      </div>
      <div class="user-image"></div>
      <div class="current-user-text">
        <p class="user_name">{{ 'Poopy Stinky' }}</p>
        <p class="logout">
        </p>
      </div>
  
    </div>
  </div>
  
  <hr class="horizontal-line">